*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
   .home{
    height: 100vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;

   } 
   .about{
    height: 130vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;
    

   } 
   .portfolio{
    height: 130vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;

   } 
   #gallary{
    height: 150vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;
   }
    #services{
    height: 130vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;
    }

    #contact{
    height: 100vh;
    background-image: url("woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg");
    background-attachment: fixed;
    background-size: cover;
    }

.nav-link{
    color: aliceblue;
     
}
.navbar{
  background: rgb(48,34,61);
background: radial-gradient(circle, rgba(48,34,61,1) 0%, rgba(0,0,0,1) 100%);

}


#home-container {
  background-color:rgb(0, 0, 0);
  padding-top: 50px;
  margin-bottom: 20%;
  height: 85VH;
  width: 150vh;
  opacity: 0.85;
  border: 1px  solid rgb(142, 141, 141);
  box-shadow: 0 0 1.5rem  rgb(240, 1, 221);
 }
#heading-1{
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
  font-family: cursive;
  height: 5vh;
  font-size: 1.2em;
  
}
#head-2{
  text-decoration: underline overline ;
  color: #ffffff;
  text-align: center;
  font-family: serif;
  height: 10%;
  padding-top: 3vh;
  text-shadow: 3px 2px #f700ff;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 4rem;
}
.button-container{
  display: flex;
  align-content: center;
  justify-content: center;
}
.btn{
  background-color: radial-gradient(circle, rgb(17, 12, 22) 0%, rgba(0,0,0,1) 100%);
  border: 1px  solid rgb(142, 141, 141);
  color: white;
  padding-left: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  left: 40px;
  top: 2px;
  box-shadow: 0 0 3rem  rgb(240, 1, 221);
  }
  
  #about-img{
    border: 1px solid #000000;
    border-radius: 8px;
   padding: 5px;
   width: 450px;
   height: 470px;
   margin-left: 30px;
  }
  .card{
    background-color:rgb(0, 0, 0);
    opacity: 0.85;
    border: 1px  solid rgb(142, 141, 141);
    box-shadow: 0 0 1.5rem  rgb(240, 1, 221);
  }
  #about-heading{
    color: #ffffff;
    font-size: 5rem;
    text-shadow: 3px 2px #f700ff;
    font-family: serif;
  }
  #about-def{
    color: #ffffff;
  }

  .list li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
.list li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.list li a:hover {
  background-color: #6b116e;
}
.portfolio.container{
  background-color:rgb(0, 0, 0);
  opacity: 0.85;
  border: 1px  solid rgb(142, 141, 141);
  height: 100vh;
  margin: auto;
  box-shadow: 0 0 3rem  rgb(240, 1, 221);
  
}
.portfolio{
  margin: auto;
  margin-top: auto;
}
.rounded img {
    border-radius: 0.25rem;
}
figure img {
    width: 100%;
    max-width: 100%;
    height: auto!important;
}
img, svg {
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.services.container{
  background-color:rgb(0, 0, 0);
  opacity: 0.85;
  border: 1px  solid rgb(142, 141, 141);
  height: 100vh;
  margin: auto;
}
.gallary img{
  width: 300px;
  height: 200px;
  position:relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.379);
  transition: .2s linear;
  object-fit: cover;
}

.gallary-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.gallary-container .gallary img{
  width: 300px;
  height: 200px;

}
.gallary-container .gallary:hover img {
  transform: scale(1.1);
}
form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 2rem;
  background-color: hsl(287.34deg 60.43% 6.65%);
  border: 4px solid hsl(0deg 0% 0.86%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


@media(max-width: 1200px){
  html{
      font-size: 100%;
  }
  .p-5 {
    padding: 3rem!important;
}
.mt-4 {
  margin-top: 6.5rem!important;
}
.about {
  height: 100vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#gallary {
  height: 110vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.portfolio {
    height: 100vh;
    background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#services {
  height: 100vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#home-container {
  background-color: rgb(0, 0, 0);
  padding-top: 50px;
  margin-bottom: 20%;
  height: 85VH;
  width: 103vh;
  opacity: 0.85;
  border: 1px solid rgb(142, 141, 141);
  font-size: 24px;
}
#about-img {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px;
  width: 454px;
  height: 495px;
  margin-left: 7px;
}
.rounded img {
  border-radius: 21.25rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
figure img {
  width: 84%;
  max-width: 88%;
  height: auto!important;
}
#contact {
  height: 77vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
}


@media(max-width: 1024px){
  #home-container {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    margin-bottom: 20%;
    height: 85VH;
    width: 76vh;
    opacity: 0.85;
    border: 1px solid rgb(142, 141, 141);
    font-size: 24px;
}
.home {
  height: 104vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#about-container {
  margin-bottom: 20%;
  height: 90VH;
  width: 79vh;
  opacity: 0.85;
  font-size: 24px;
}
.about {
  height: 150vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 80%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
#gallary {
  height: 147vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}

}


@media(max-width:768px){
  .home {
    flex-direction: column;
}
.home {
  height: 110vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#home-container {
  background-color: rgb(0, 0, 0);
  padding-top: 94px;
  margin-bottom: 20%;
  height: 90VH;
  width: 55vh;
  opacity: 0.85;
  border: 1px solid rgb(142, 141, 141);
  font-size: 24px;
}
#about-container{
  margin-bottom: 20%;
  height: 90VH;
  width: 55vh;
  opacity: 0.85;
  font-size: 24px;
}
.about {
  height: 170vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.container, .container-md, .container-sm {
  max-width: 600px;
}
.gallary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  padding: 24px;
}
#gallary {
  height: 235vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.portfolio {
  height: 96vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
figure img {
  /* width: 89%; */
  max-width: 94%;
  height: auto!important;
}
#services {
  height: 120vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#contact {
  height: 94vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.rounded {
  border-radius: var(--bs-border-radius)!important;
}
figure {
  margin: 7px 94px 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}

  #menu-icon{
      display: block;
  

  }
  .home{
      flex-direction: column;
  }
  .home-container heading-1{
      font-size: 2.6rem;
  }
  .home-container head-2{
      font-size: 5rem;
  }       
  .about{
      flex-direction: column-reverse;

  }
  .about img  img{
      width: 100%;
      margin-top: 4rem;

  }
  .services h2{
      margin-bottom: 3rem;
  }
  .portfolio h2{
      margin-bottom: 3rem;
  }
  .portfolio-container{
      grid-template-columns: repeat(2,1fr);

  }
  }
  @media(max-width:617px){
      .portfolio-container{
          grid-template-columns: 1fr;
      }
  }
@media(max-width:425px){
  .home {
    width: 595px;
    height: 93vh;
    background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#home-container {
  background-color: rgb(0, 0, 0);
  padding-top: 49px;
  margin-bottom: 31%;
  height: 74vh;
  width: 40vh;
  opacity: 0.85;
  border: 1px solid rgb(142, 141, 141);
  font-size: 18px;
  margin-left: 95px;
}
.about {
  height: 170vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#about-container {
  margin-bottom: 20%;
  height: 90VH;
  width: 43vh;
  opacity: 0.85;
  font-size: 24px;
}
#gallary {
  height: 235vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 57vh;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 74%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.gallary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  padding: 54px;
}
#services {
  height: 120vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 60vh;
}
.portfolio {
  height: 100vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 59vh;
}
element.style {
  width: 47px;
  padding-left: -13px;
  margin-left: -36px;
}

element.style {
  width: 106%;
  height: 470px;
}
#contact {
  height: 110vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 59vh;
}
#contact {
  height: 110vh;
  background-image: url(woman-face-light-paint-dark-background-neon-glasses-6708x4472-6940.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 59vh;
}
form {
  box-sizing: border-box;
  padding: -2rem;
  border-radius: 1rem;
  background-color: hsl(287.34deg 60.43% 6.65%);
  border: 4px solid hsl(0deg 0% 0.86%);
  display: grid;
  grid-template-columns: -1fr 1fr;
  gap: 2rem;
}
}

@media(max-width:365px){
  
  .about-img img{
      width: 100%;
      height: auto;
  }
  .footer{
      flex-direction:column-reverse ;
  }
  .footer p{
      text-align: center;
      margin-top: 2rem;
  }
  
}